body, h2, p
{
	margin: 0;
	padding: 0;
}

body 
{
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;
}

#book {
	background-color: peru;
	background-image: url("book880.png");
	background-repeat: no-repeat;
	height: 880px;
	left: 50%;
	margin-left: -1200px;
	margin-top: -400px;
	position: absolute;
	top: 50%;
	width: 1400px;
}

#pages section {
	/*width: 600px;
	height: 780px;*/
	/*background-color: lightblue;*/
	background-image: url("paper.png");
	background-repeat: no-repeat;
	display: block;
	height: 830px;
	left: 700px;
	overflow: hidden;
	position: absolute;
	top: 13px;
	width: 665px;
}
	#pages section div {
		/*background-color: lime;*/
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: block;
		font-size: 12px;
		/*height: 780px;
		width: 600px;*/
		height: 830px;
		margin-left: 15px;
		width: 660px;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}
